/* couleurs */
:root {
    --back-color: #e0e0df;
    --menu-color: #c0ba9e;
    --menu-hover-color: #7e6f5357;
    --solid-color: #3d3217;
    --main-text-color: #fffdf3;
    --text-color: black;
}

/* :root {
    --back-color: #01010c;
    --menu-color: rgb(44, 42, 33);
    --menu-hover-color: #7e6f5357;
    --solid-color: #87ce98;
    --main-text-color: #fffdf3;
    --text-color: black;
} */

/* size */

@font-face {
    font-family: Oxygen;
    src: url(../fonts/OxygenMono-Regular.ttf);
}

body {
    font-family: Oxygen;
    background-color: var(--back-color);
    margin: 0px 3rem;
    min-height: 800px;
}
header {
    text-align: center;
}

.header-text {
    text-decoration: none;
    color: var(--solid-color);
}

h1 {
    font-size: 6rem;
    margin: 3rem;
}

/* nav */

menu {
    background-color: var(--menu-color);
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 100%; */
    /* height: 2.85em; */
    height: auto;
    padding: auto;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

menu > li {
    list-style-type: none;
}

.bouton-nav {
    color: var(--solid-color);
    background-color: var(--menu-color);
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding: 0.7rem 1rem;
    border-style: solid;
    border-color: var(--solid-color);
    border-width: 0px 1px;
    margin-left: -1px;
}

.bouton-nav-h {
    font-size: 25px;
    padding: 0.7rem 0rem;
}

.bouton-nav:hover {
    background-color: var(--menu-hover-color);
}

/* main text */

.main-text {
    margin: 2rem 40px;
    background-color: var(--main-text-color);
    padding: 1rem 10px;
    max-height: 100%;
    text-align: left;
}

.main-text p{
    font-size: 1.3rem;
    margin-left: 0.7rem;
    color: var(--text-color);
}

.main-text h2 {
    font-size: 1.5rem;
}

.main-text > h2 > a {
    text-decoration: none;
    color: var(--text-color);
}

.main-text a {
    text-decoration: none;
}

.main-text ul {
    margin-left: 0.8rem;
}

.main-text li {
    font-size: 1.3rem;
}

.main-text li::marker {
    content: "– ";
}

.cours > li {
    margin-top: 0.4rem;
}

.main-text > h3 {
    font-size: 1.1rem;
}

.main-text > h3 > svg {
    font-size: 1.1rem;
    width: 1.1rem;
    height: 1.1rem;
}

.main-text > h3 > a {
    text-decoration: solid;
    color: var(--text-color);
}

.main-text > h3 > a:hover {
    text-decoration: underline;
}

details > summary {
    cursor: pointer;
    width: 6rem;
}

footer {
    text-align: center;
}

.bouton{
    color: var(--solid-color);
    background-color: #f0de98;
    text-align: center;
    text-decoration: none;
    padding: 0.7rem 0.8rem;
    border-style: solid;
    border-color: var(--solid-color);
    border-width: 1px;
    border-radius: 8px;
    font-size: 1.2rem;
}

.bouton:hover{
    background-color: #d6c789;
}

.switch{
    margin-top: 15px;
    font-size: 1.2rem;
    padding: 0.7rem 0rem;
}

@media (width <= 1000px) {
    header {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }
    h1 {
        margin: 1rem;
    }
    menu {
        background-color: var(--menu-color);
        display: block;
        max-width: 100%;
        margin-top: 2rem;
        padding: 0px;
        font-size: 1.8rem;
    }
    .bouton-nav {
        color: var(--solid-color);
        display: block;
        margin: 0px;
        margin-bottom: -1px;
        background-color: var(--menu-color);
        text-align: left;
        text-decoration: none;
        font-size: 1.8rem;
        border-style: solid;
        border-color: var(--solid-color);
        border-width:1px 0px;
    }
    .bouton-nav-h {
        margin: 0px;
        padding: 0px;
    }
    .switch{
        text-align: center;
    }
}